{{ form_start(form) }}

<div class="row mb-3">
	<div class="col-sm-6">
		{{ form_row(form.startDate) }}
	</div>
	<div class="col-sm-6">
		{{ form_row(form.endDate) }}
	</div>
</div>

<div class="row mb-3">
	<div class="col-sm-6">
		{{ form_row(form.subject) }}
	</div>
	<div class="col-sm-6">
		{{ form_row(form.address) }}
	</div>
</div>


{{ form_end(form) }}
