<table class="table">
	<thead>
		<tr>
			<th>StartDate</th>
			<th>EndDate</th>
			<th>Subject</th>
			<th>Address</th>
			<th>actions</th>
		</tr>
	</thead>
	<tbody>
		{% for meeting in meetings %}
			<tr>
				<td>{{ meeting.startDate ? meeting.startDate|date('Y-m-d') : '' }}</td>
				<td>{{ meeting.endDate ? meeting.endDate|date('Y-m-d') : '' }}</td>
				<td>{{ meeting.subject }}</td>
				<td>{{ meeting.address }}</td>
				<td>
					<a class="btn primary" href="{{ path('app_meeting.show', {'id': meeting.id}) }}">show</a>
					{{ include('meeting/_delete_form.html.twig') }}
				</td>
			</tr>
		{% else %}
			<tr>
				<td colspan="7">no records found</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
