{% extends 'base.html.twig' %}

{% block title %}Customer list
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-sm-9">
			<h1>Customer index</h1>
		</div>
		<div class="col-sm-3">
			<a class="btn success mt-2" href="{{ path('app_customer.new') }}">Create new</a>
		</div>
	</div>
	<div class="row">
		{% for customer in customers %}

			<div class="card mx-1" style="width: 18rem;">
				<img src="{{ vich_uploader_asset(customer) }}" class="card-img-top" alt="{{ customer.name }}">
				<div class="card-body">
					<h5 class="card-title">{{ customer.name }}</h5>
					<div class="row mb-3">
						<div class="col-6">
							<a class="link-opacity-50" href="tel:{{ customer.phone }}">Appeler</a>
						</div>
						<div class="col-6">
							<a class="link-opacity-50" href="mailto:{{ customer.email }}">Courriel</a>
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-6">
							<a class="btn warning" href="{{ path('app_customer.show', {'id': customer.id}) }}">show</a>
						</div>
						<div class="col-6">
							<a class="btn primary" href="{{ path('app_customer.edit', {'id': customer.id}) }}">edit</a>
						</div>
					</div>
				</div>
			</div>
		{% else %}
			<div class="alert primary">
				no record found
			</div>
		{% endfor %}
	</div>
{% endblock %}
